<div class="container ">
    <div class="row">
        <a class="nav-link text-dark pl-1 pr-2" [routerLink]="['/add']" data-toggle="tooltip" data-placement="right"
            title="Add Application">
            <i class="fas fa-plus-circle" style="font-size: 20px; color: Dodgerblue;"></i>
        </a>

        <a class="nav-link text-dark pl-0 pr-0" [routerLink]="['']" data-toggle="tooltip" data-placement="right"
            title="Show Applications List">
            <i class="fas fa-list" style="font-size: 20px; color: Dodgerblue;"></i>
        </a>
    </div>
</div>