<div class="card">
    <div class="card card-header">
        <div class="card-header-pills">
            <span *ngFor="let login of application.applicationLogin" class="p-1 ml-1 ">
                <a (click)="setParams(login)" class="text-white badge badge-pill badge-primary" data-toggle="tooltip"
                    data-placement="right" title="Click to set and update parameters">
                    {{login.useCase}}
                    <i class="fas fa-times-circle" (click)="remove(login)" data-toggle="tooltip" data-placement="right"
                        title="Remove login"></i>
                </a>
                <a (click)="setForm(login)" data-toggle="tooltip" data-placement="right" title="Fill Form">
                    <i class="fas fa-calendar-check ml-1" style="font-size: 16px; color:purple;"></i>
                </a>

            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control form-control-sm mt-2" type="text" id="useCase" placeholder="login Use Case"
                    #nameVar="ngModel" [(ngModel)]="applicationLogin.useCase" name="useCase" />
                <div class="input-group-append ml-1">
                    <button class="btn-sm btn-outline-primary mt-1" (click)="add()">Add Login</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <app-login-params [applicationLogin]="this.applicationLogin"></app-login-params>
        </div>
    </div>
</div>