<div class="card">
    <div class="card card-header">
        <div class="card-header-pills">
            <span *ngFor="let login of application.applicationLogin" class="p-1">
                <a class="text-white badge badge-pill badge-primary no-radius-right" data-toggle="tooltip"
                    data-placement="right" style="cursor:default;" (click)="setParams(login)">
                    {{login.useCase}}
                    <i class="fas fa-times-circle ml-1" (click)="remove(login)" data-toggle="tooltip"
                        data-placement="right" title="Delete" style="cursor:pointer"></i>
                </a>
                <a class=" text-white badge badge-pill grey-pill no-radius-left">
                    <i class="fas fa-copy mr-1" (click)="copyLogin(login)" data-toggle="tooltip" data-placement="right"
                        title="Copy" style="cursor:pointer"></i>

                    <i (click)=" setForm(login)" data-toggle="tooltip" data-placement="right" title="Fill Form">
                        <i class="fas fa-fill t pr-1" style="cursor:pointer"></i>
                    </i>
                </a>
            </span>
        </div>
    </div>
</div>

<div class="card bg-light">
    <div class="card-body">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control form-control-sm mt-2" type="text" id="useCase" placeholder="login Use Case"
                    #nameVar="ngModel" [(ngModel)]="applicationLogin.useCase" name="useCase" />
                <div class="input-group-append ml-1">
                    <button class="btn-sm btn-outline-primary mt-1" (click)="add()">Add Login</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <app-login-params (applicationChanged)="onApplicationChanged($event)"
                [applicationLogin]="this.applicationLogin"></app-login-params>
        </div>
    </div>
</div>